body {
    background-color: #fffcfb;
    text-align: center;
    width: 80%;
    margin: 10%;
}
h1 {
    font-family: Lucida;
}
h3 {
    font-family: Verdana;
}
.main {
    line-height: 180%;
    font-size: 1.2rem;
}
ul {
    line-height: 180%;
    font-size: 1.2rem;
    list-style-type: none;
}
a {
    color: darkblue;
    text-decoration: none;
}
#contact {
    font-size: 18px;
}
#gmail {
    margin-bottom: -1%;
}
.petpic {
    width: 80vw;
    height: 75vh;
    margin-left: 2.5%;
    margin-top: 5%;
}
.top {
    height: 7vh;
    width: 15%;
    margin-top: 5%;
    margin-left: 44%;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.3rem;
    background-color: black;
    padding-top: 3vh;
    border-radius: 3px;
}
.top a {
    color: white;
}
